body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

html,
body {
  background-color: #eee;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ddd;
  flex: 1 1 100vw;

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
}

#header img {
  width: 300px;
  margin-left: 20px;
  height: 10vh;
}

#header nav {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  padding: 10px 0;
  flex-wrap: wrap;
  margin-right: 8vw;
  gap: 10px;
  flex: 1 1 100px;
}

#header nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

#header nav a:hover {
    color: #4f4f4f;

}


.login {
  margin: 100px 0;
}

.login form {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login > form > input {
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #f1c40f;
  width: 40%;
}

.login > form > a {
  padding: 10px;
  background-color: #f1c40f;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.login > form > a:hover {
  background-color: grey;
}

.login > form > a:visited:after {
  content: "(visited)";
}

/* __________________ */

.features {
  width: 100%;
}

.features article {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  flex: 1 1 300px; /* Use fixed basis instead of percentage */
  min-width: 300px; /* Prevent from shrinking too much */
}

.features article i {
  color: hsl(33, 100%, 50%);
  font-size: 50px;
  padding: 20px 30px;
}

.features-description h2 {
  margin: 0;
}

.features-description p {
  margin: 0;
}

/* video  */

#video {
  display: block;
  margin: 20px auto;
  margin-bottom: 40px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

/* product  */

.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 20px;
  margin: 0 60px;
  flex-wrap: wrap;
}

.products section {
  min-width: 33%;
  flex: 1 1 calc(400px - 120px);
  border: 1px solid black;
  border-radius: 8px;
  padding-bottom: 15px;
}

.products section h2 {
    background-color: #dddd;
  border-radius: 8px 8px 0 0;
  width: calc(100% - 60px);
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 30px;
}

.products section button {
    padding: 16px 38px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #f1c40f;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.products section button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
}

.products section button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.products section button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: grey;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.products section button:hover {
    color: #ffffff;
    border: 1px solid grey;
}

.products section button:hover:before {
    top: -35%;
    background-color: grey;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.products section button:hover:after {
  top: -45%;
  background-color: grey;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* footer */

footer {
    background-color: #ddd;
    margin-top: 50px;
    padding: 40px 40px;
}

footer address {
    font-style: normal;
}

#footer address a {
    color: black;
    font-weight: bold;
}

#footer p {
    color: #4f4f4f;
}

/* media query */
@media (max-width: 500px) {
    .features-description {
        padding: 20px 80px;
    }
    
    .features article i {
        display: none;
  }

  .features article p,
  h2 {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .products {
    width: 50%;
    margin: 0 auto;
}
}

@media (min-width: 960px) {
    .products {
        flex-wrap: nowrap;
    }
}
