html, body {
    background-color: grey;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.blog-post-card {
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 560px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    display: block;

}

.post-img {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
    border-bottom: 8px solid #333333;
}

.post-content {
    padding: 40px;   
}


.post-title {
    color: #333333;
}

.post-excerpt {
    color: #666677;
    margin-bottom: 30px;

}


.read-more {
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

.read-more:hover {
    background-color: #6d6d6d;
    cursor: pointer;
}
