body {
    color: black;
    background-color: #f0f0f0;
    border-top: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1 {
    text-align: center;
    color: #333333;
}

.list-box{
    background-color: #ffff;
    max-width: 100%;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 8px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.task-section {
    background-color: #e5f1e5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.task-section > ul > li {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}

a:focus {
    color: green;
}

a:hover:active {
    border: 2px solid blue;
}