body {
    background-color: #d8bfd8;
    /* width: 90vw; */
    /* height: 90h; */
    border-top: 1px solid transparent;
}

#playing-cards {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 16px;
    align-items: center;
}
#playing-cards::after {
    content: "";
    width: 200px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 30px;
    margin: 0 0;
}

.left {
    align-self: flex-start;
    margin-left: 10px;
}

.middle {
    align-self: center;
    display: flex;
    flex-direction: column wrap;
}
.middle p{
    font-size: 80px;
}

.right {
    align-self: flex-end;
    margin-right: 10px;

}


.upsidedown {
    margin-bottom: 0;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.red {
    color: red;
}

.card:nth-child(2) > .middle{
    display: flex;
    flex-direction: column;
}