body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    min-height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}


header {
    text-align: center;
}
header img {
    border-radius: 6px;
}

hr {
    width: 80%;
    text-align: center;
    border-radius: 6px;
    color: black;
    background-color: black;
    border: none;
    height: 5px;
}


main {
    display: flex;
    justify-content: center; 
    gap: 20px;     
}
main section{
    margin: 50px 0;
}

footer{
    text-align: center;
    margin-top: 30px;
}