body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1b1b32;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 10px;
}

/* .content-description {
} */

.breaking-news, .technology {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;

}


.content-description p{
    text-align: left;
}

.content-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    background-color: #dddddd;
    height: calc(100% - 10px);
    border-radius: 0 0 10px 10px;
    
}

.content-poster img {
    width: 70%;
    height: 60vh;
    border-radius: 10px;
}

/* ------------------ */

.news {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}

.news-description {
    background-color: #dddddd;
    text-align: left;
    padding: 0 10px;
    flex: 1 1 100px;  
}